# On STAGE/PROD use "always"
DOCKER_RESTART_POLICY=no
# use production for STAGE/PROD
ENVIRONMENT_TYPE=local
DOCKER_NETWORK=platypus-local-dev-network

NAME=wordpress
NUM=99

APP_ID=${NAME}-${NUM}
# on prod use dantoaphoto.cz
INT_NETWORK=${NAME}.local
APP_HOST=docker.${INT_NETWORK}
HEADLESS_FRONTEND_URL=https://${APP_HOST}.${INT_NETWORK}
#change to platypusbox-docker-net01 for production
WP_DB_ROOT_PASSWORD=exampl
WP_DB_DATABASE="${NAME}-db-${NUM}"
WP_DB_PASSWORD=heghe4367@jwwtyh
WP_DB_USER=${APP_ID}
CERTNAME=docker.traefik.local

# Production
#PRODUCTION_CERT_RESOLVER=default

# WordPress
#use production on production
WP_BEDROCK_ENV=development
WP_HOST=wp.${APP_HOST}
# name of wordpress must use basic plugin belonging to the site
WP_PLUGIN_NAME=dantoaphotocz-plugin
# name of default site theme
WP_THEME_NAME=dantoaphotocz-theme
HEADLESS_FRONTEND_URL=https://${APP_HOST}:443

#WordPress PhpMyAdmin
WP_PHP_MY_ADMIN_HOST=phpmyadmin.${APP_HOST}:443

#Frontend app
WORDPRESS_GRAPHQL_ENDPOINT=https://${WP_HOST}:443/wp/graphql
